.wrapper {
    text-align: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.center {
	text-align: center;
}


div.text {
    margin: auto;
    width: 400px;
}

div.error {
    text-align: center;
    background-color: salmon;
}

table {font-size:14px;color:#333333;display:inline-block;border-width: 1px;border-color: #729ea5;border-collapse: collapse; margin-right:20px; margin-top:20px;}
th {font-size:14px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
tr {background-color:#d4e3e5;}
td {font-size:14px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}